.container {
  background-color: red;
  height: 100px;
  .base-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #000;
    color: #fff;
  }

  .btn-disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
}
